body {
  background-color: lavender;
  margin: 0;
  padding: 0;
}

.input-container {
  position: absolute;
  bottom: 20px;
  width: 75vw;
  border-top: 2px solid black;
}

.App-container {
  display: flex;
  height: 100vh;
}

.left-container {
  border-right: 5px ridge black;
  width: 30vw;
}

.room-container {
}

.room-component {
  margin-top: 10%;
}

.current-room {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.room-list {
  margin-bottom: 20px;
}

.individual-rooms {
}

.room {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.create-room {
  display: flex;
  flex-direction: column;
}

.create-room-input {
  margin: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.create-room-btn {
  margin-left: 50%;
  transform: translateX(-50%);
}

.delete-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.delete-room {
  width: fit-content;
}

.user-component {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.sign-in-container {
}

.authentication-btns {
  display: flex;
  width: fit-content;
  margin-left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.sign-btn {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}
.sign-btn:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}
.sign-btn:active {
  position: relative;
  top: 1px;
}

#sign-in-btn {
  margin-right: 10px;
}

.message-component {
  width: 100%;
}

.message-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.current-room-name-wrapper {
  border-bottom: 2px solid black;
}

.current-room-name {
  width: fit-content;
  margin-left: 20px;
}

.create-message {
  display: flex;
  flex-direction: row;
  outline: none;
  text-align: center;
  margin-top: 10px;
}

.message-input {
  margin-left: 10px;
  margin-right: 10px;
}

.content-below {
  position: relative;
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
}

.messages-list-wrapper {
  margin-left: 5px;
}

.messages-list {
  width: 100%;
  max-height: 75vh;
  overflow: auto;
}

.one {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.two {
}

.three {
  position: absolute;
  right: 10px;
}

.four {
}

.five {
}
