body {
  background-color: lavender;
  margin: 0;
  padding: 0;
}

.input-container {
  position: absolute;
  bottom: 20px;
}

.create-message {
  display: flex;
  flex-direction: row;
  outline: none;
  text-align: center;
}

.message-input {
  margin-right: 10px;
}

.App-container {
  display: flex;
  height: 100vh;
}

.left-container {
  margin-left: 10px;
  margin-right: 10px;
  border-right: 5px ridge black;
  width: 30%;
}

.room-component {
  transform: translateY(70%);
}

.room-list {
}

.individual-rooms {
}

.room {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.create-room {
  display: flex;
  flex-direction: column;
}

.create-room-input {
  margin: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.create-room-btn {
  margin: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.delete-room {
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.user-component {
  width: fit-content;
}

.sign-in-container {
}

.authentication-btns {
  display: flex;
  width: fit-content;
  margin-left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

#sign-in-btn {
  margin-right: 10px;
}

.message-component {
  width: 100%;
}

.content-below {
  position: relative;
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
}

.one {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.two {
}

.three {
  position: absolute;
  right: 10px;
}

.four {
}

.five {
}
